body {
}
#buckets {
    float: right;
    display: inline;
    clear: both;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px;
}
#emptyBucket {
    margin-right: 10px;
    float: left;
}
#waterBox {
    border: solid;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 20%;
}
#bucketone {
    font-size: 30px;
    position: absolute;
    left: 47px;
    top: 60px;
}
#buckettwo {
    font-size: 30px;
    position: absolute;
    right: 45px;
    top: 60px;
}
#waterBucket {
    float:  right;
}
#drainBox {
    border: solid;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 60%;
}
#boxes {
    float: left;
}