body {
}
#buckets {
    position: absolute;
    top: 40%;
    left: 40%;
}
#emptyBucket {
    margin-right: 30px;
}
#waterBox {
    border: solid;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 40%;
}
#bucketone {
    position: absolute;
    left: 55px;
    top: 60px;
}