body {
    background-color: darkblue;
}
#game {
    background: url("../rsc/ground_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
#buckets {
    clear: both;
    display: inline;
    font-size: 90%;
    position: absolute;
    top: 45%;
    left: 45%;
}
#bucket1 {
    float: left;
    height: 15%;
    width: 15%;
}
#bucketNum1 {
    height: 120%;
    width: 100%;
}
#bucket2 {
    float: left;
    height: 15%;
    width: 15%;
}
#bucketNum2 {
    height: 120%;
    width: 100%;
}
#bucket3 {
    float: left;
    height: 15%;
    width: 15%;
}
#bucketNum3 {
    height: 120%;
    width: 100%;
}
#bucketone {
    height: 100%;
    width: 100%;
    padding-top: 7.5%;
    padding-left: 5%;
    position: absolute;
}
#buckettwo {
    height: 100%;
    width: 100%;
    padding-top: 7.5%;
    padding-left: 5%;
    position: absolute;
}
#bucketthree {
    height: 100%;
    width: 100%;
    padding-top: 7.5%;
    padding-left: 4%;
    position: absolute;
}
#waterBox {
    background: url("rsc/water_run.gif");
    background-repeat: no-repeat;
    background-size: 100% 160%;
    background-position-y: -50px;
    position: fixed;
    top: 32%;
    left: 4.5%;
    text-align: center;
    width: 6.5%;
    height: 31.5%;
}
#drainBox {
    border: 2px dashed yellow;
    color: yellow;
    text-align: center;
    width: 6.4%;
    height: 10%;
    position: absolute;
    left: 4.5%;
    top: 66.5%;
}
#boxes {
    float: left;
}
#quit{
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    background-color: darkblue;
    border-radius: 11%;
    border-top: 3px solid blue;
    border-bottom: 3px solid black;
    border-left: 3px solid blue;
    border-right: 3px solid black;
    color: lightblue;
    font-family: 'Arial Black';
    font-size: 99%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;  
   
}
#quit:hover {
    border: 3px solid yellow;
    color: yellow;
    cursor: pointer;  
    font-size: 150%;
    font-weight: bold;
}
#endBucket {
    border-style: solid;
    width: 80px;
    height: 160px;
    position: absolute;
    top: 34.5%;
    left: 82.5%;
    
}
#endBucketone {
    font-size: 30px;
    position: absolute;
    width: 80px;
    height:  100px;
    text-align: center;
    padding-top: 60px;
    color: #fff;
}