 body {
    background-color: lightblue;
    margin-top: 25px; 
    margin-left: 50px; 
    width: 800px;
}
#buckets {
    top: 0;
    left: 0;
    width: 700px;
    margin-top: 25px; 
    margin-left: 50px; 
}
#emptyBucket {
    margin-right: 50px;
}
#nextSection{
   bottom: 0;
    padding-left: 400;
}
